@model EblueWorkPlan.Models.ViewModels.ProjectFormView
@{
    ViewData["Title"] = "Page6";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Page6</h1>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link " id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"><i class="fa-solid fa-1" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="fa-solid fa-2" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-laboratory-tab" data-bs-toggle="tab" data-bs-target="#nav-laboratory" type="button" role="tab" aria-controls="nav-laboratory" aria-selected="false"><i class="fa-solid fa-3" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-analytical-tab" data-bs-toggle="tab" data-bs-target="#nav-analytical" type="button" role="tab" aria-controls="nav-analytical" aria-selected="false"><i class="fa-solid fa-4" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-sciproject-tab" data-bs-toggle="tab" data-bs-target="#nav-sciproject" type="button" role="tab" aria-controls="nav-sciproject" aria-selected="false"><i class="fa-solid fa-5" style="color: #2267dd;"></i></button>
        <button class="nav-link active" id="nav-otherpersonel-tab" data-bs-toggle="tab" data-bs-target="#nav-otherpersonel" type="button" role="tab" aria-controls="nav-otherpersonel" aria-selected="false"><i class="fa-solid fa-6" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-gradass-tab" data-bs-toggle="tab" data-bs-target="#nav-gradass" type="button" role="tab" aria-controls="nav-gradass" aria-selected="false"><i class="fa-solid fa-7" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-fund-tab" data-bs-toggle="tab" data-bs-target="#nav-fund" type="button" role="tab" aria-controls="nav-fund" aria-selected="false"><i class="fa-solid fa-8" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-budget-tab" data-bs-toggle="tab" data-bs-target="#nav-budget" type="button" role="tab" aria-controls="nav-budget" aria-selected="false"><i class="fa-solid fa-9" style="color: #2267dd;"></i></button>



    </div>
</nav>

<div class="tab-content" id="nav-tabContent">


    <div class="tab-pane fade show active" id="nav-otherpersonel" role="tabpanel" aria-labelledby="nav-otherpersonel-tab" tabindex="0">

        <div class=" row g-3">
            <form asp-action="Page6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card">

                    <div class="card-header">Other Personel </div>


                    <div class="card-body">

                        <div class="row">


                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="ProjectId" />
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PerTime" class="control-label"></label>
                                <input asp-for="PerTime" class="form-control" />
                                <span asp-validation-for="PerTime" class="text-danger"></span>
                            </div>
                           
                            <div class="form-group">
                                <label asp-for="LocationId" class="control-label"></label>
                                <select asp-for="LocationId" class="form-control" asp-items="ViewBag.locationsItems"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="RosterId" class="control-label"></label>
                                <select asp-for="RosterId" class="form-control" asp-items="ViewBag.rosterItems"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="PersonnelManAdded" class="control-label"></label>
                                <input asp-for="PersonnelManAdded" class="form-control" />
                                <span asp-validation-for="PersonnelManAdded" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="RoleManAdded" class="control-label"></label>
                                <input asp-for="RoleManAdded" class="form-control" />
                                <span asp-validation-for="RoleManAdded" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>

                        </div>


                    </div>


                    <div class="card-footer">

                        <div class="btn btn-primary col align-content-center"><a asp-action="Page5" asp-controller="Projects" asp-route-id="@Model.ProjectId" style="text-decoration:none; color:white;">Back</a></div>




                        <div class="btn btn-primary col align-content-end"><a asp-action="Page7" asp-controller="Projects" asp-route-id="@Model.ProjectId" style="text-decoration:none; color:white;">Next</a></div>

                    </div>
                   
                </div>
            </form>
        </div>




</div>
