@model EblueWorkPlan.Models.Project

@{
    ViewData["Title"] = "Page2";
}

@{
}



<div class="row g-3">


    <form asp-action="Page2">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ProjectId" />
        <div class="card">

            <div class="card-header">Create Project: @Html.DisplayFor(modelItem => Model.ProjectNumber)</div>


            <div class="card-body">

                <div class="row">
                    <div class="col-12">
                        <label asp-for="Objectives" class="control-label"></label>
                        <input asp-for="Objectives" class="form-control" />
                        <span asp-validation-for="Objectives" class="text-danger"></span>
                    </div>
                </div>


                 <div class="row">
                    <div class="col-12">
                        <label asp-for="ObjWorkPlan" class="control-label"></label>
                        <input asp-for="ObjWorkPlan" class="form-control" />
                        <span asp-validation-for="ObjWorkPlan" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <label asp-for="PresentOutlook" class="control-label"></label>
                        <input asp-for="PresentOutlook" class="form-control" />
                        <span asp-validation-for="PresentOutlook" class="text-danger"></span>
                    </div>
                </div>

               
           
            
                
                


            </div>



            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>


        </div>
    </form>
</div>
