<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EblueWorkPlan</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EblueWorkPlan.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/40751fa63f.js" crossorigin="anonymous"></script>


</head>
<body>
    <div id="sidebar" class="bg-dark">
        <div class="sidebar-header">

            <a class="text-white d-none d-sm-inline text-decoration-none d-flex align-items-center ms-4" role="button" asp-action="Index" asp-controller="Home" asp-area="">

                <span class="fs-5">WorkPlan</span>
            </a>

            <hr class="text-white d-none d-sm-block">
        </div>

        

            
        

        <ul class="list-unstyled components">

            <ul class="nav nav-pills flex-column mt-4 mt-sm-0  " id="menu">

                <div class="dropdown open">
                    <a class="btn border-none outline-none text-white dropdown-toggle" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <i class=" fa fa-user"></i> <span class="ms-1 d-none d-sm-inline">User</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="triggerId">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item " asp-action="Logout" asp-controller="Home">Logout</a>
                    </div>
                </div>

                <hr class="text-white d-none d-sm-block">

                <li class="nav-item">
                    <a class="nav-link text-white text-center text-sm-start " aria-current="page" asp-action="Index" asp-controller="Projects" asp-area="">
                        <i class="fa fa-gauge"></i>
                        <span class="ms-2 d-none d-sm-inline">Proyects</span>

                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white my-sm-1 my-2 text-center text-sm-start" aria-current="page">
                        <i class="fa fa-house"></i>
                        <span class="ms-2 d-none d-sm-inline">Home</span>

                    </a>
                </li>
                <li class="nav-item">
                    <a href="#sidemenu" data-bs-toggle="collapse" class="nav-link text-white my-sm-1  my-2 text-center text-sm-start" aria-current="page">
                        <i class="fa fa-table"></i>
                        <span class="ms-2 d-none d-sm-inline">Admin</span>
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="nav collapse ms-1  flex-column" id="sidemenu" data-bs-parent="#menu">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-action="Index" asp-controller ="Rosters" aria-current="page">Roster</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-white" asp-action="Index" asp-controller="Departments">Departments</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-white" asp-action="Index" asp-controller="Commodities">Commodity</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-white" asp-action="Index" asp-controller="FiscalYears">Fiscal Year</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-white" asp-action="Index" asp-controller="Substacions">SubStation</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-white" asp-action="Index" asp-controller="ProgramAreas">Programatic Area</a>
                        </li>


                        <li class="nav-item ">
                            <a class="nav-link text-white" asp-action="Index" asp-controller="Porganizations">Performing Organizations</a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link text-white" asp-action="Index" asp-controller="Locationns">Locations</a>
                        </li>


                        <li class="nav-item ">
                            <a class="nav-link text-white" asp-action="Index" asp-controller="FundTypes">Type of Funds</a>
                        </li>

                    </ul>
                </li>

            <li class="nav-item">
                <a href="#sidemenu2" data-bs-toggle="collapse" class="nav-link text-white my-sm-1 my-2 text-center text-sm-start" aria-current="page">
                    <i class="fa fa-users"></i>
                    <span class="ms-2 d-none d-sm-inline">Services</span>
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="nav collapse ms-1  flex-column" id="sidemenu2" data-bs-parent="#menu">
                        <li class="nav-item ">
                            <a class="nav-link text-white" asp-action="Index" asp-controller="User">User</a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Link2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Link3 </a>
                    </li>
                </ul>
            </li>

        </ul>

           
    </div>
   

  

    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        

        <ul class="nav nav-pills">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fa fa-solid fa-bars"></i>
            </button>
           
        </ul>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
         $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
