body {
}


.funds-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 6px;
}

    .funds-grid .header {
        font-weight: 600;
        background: #f5f5f5;
        border-bottom: 1px solid #ccc;
    }

