html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card {
    background-color: #fff;
   
}

.form-color {
    background-color: #fafafa
}



.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #35b69f;
    outline: 0;
    box-shadow: none;
    text-indent: 10px
}

.c-badge {
    background-color: #35b69f;
    color: white;
    height: 20px;
    font-size: 11px;
    width: 92px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px
}

.comment-text {
    font-size: 13px
}

.wish {
    color: #35b69f
}

.user-feed {
    font-size: 14px;
    margin-top: 12px
}



/**Approve Section*/
.aprove-section {
    display: grid;
    grid-template-columns 2fr 2fr;
    column-gap: 20px;

}

    .aprove-section .btn-success {
        grid-column: 1/2;
        margin-top: 40px;
    }


    .aprove-section .btn-danger {
        grid-column: 2/3;
        margin-top: 40px;
    }


    /*Print Section*/

@media print {

    /* Ocultar botones */
    button, .btn, .no-print {
        display: none !important;
    }

    /* Quitar exceso de containers / cards */
    .card, .container, .panel, .box {
        border: none !important;
        box-shadow: none !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    /* Ajustar la tabla para impresión limpia */
    .table {
        width: 100% !important;
        border-collapse: collapse !important;
    }

        .table th, .table td {
            border: 1px solid #000 !important;
            padding: 6px !important;
            font-size: 12px !important;
        }

    /* Evitar que las tablas se corten entre páginas */
    table, tr, td, th {
        page-break-inside: avoid !important;
    }

    /* Forzar blanco y negro (opcional) */
    body {
        background: white !important;
        color: black !important;
    }
}
